<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogLevel="Error" internalLogFile="nlog-app.log">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
	  <target name="Local"
            xsi:type="File"
            fileName="c:/settlements/logs/${logger:shortName=true}/${shortdate}.log"
            archiveFileName="c:/settlements/logs/${logger:shortName=true}/${shortdate}.log{#####}.txt"
            layout="${longdate} ${logger} ${message}"
            archiveAboveSize="10240000"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false" />
    <target name="Mail" xsi:type="Mail" html="true" subject="Error Received" body="${message}" to="marcusm@millerslab.com" from="dailysettle@millerslab.com" encoding="UTF-8" enableSsl="false" smtpAuthentication="None" smtpServer="cliff.millerslab.com" smtpPort="25"/>
  </targets>
	
  <rules>
    <!-- add your logging rules here -->
    
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
    <logger name="*" minlevel="Off" levels="Error,Debug,Warn,Fatal" writeTo="Mail" />
    <logger name="*" minlevel="Off" levels="Info" writeTo="Local" />
	<logger name="*" minlevel="Off" levels="Trace" writeTo="Local" />
  </rules>
</nlog>